@model List<Position>
@{
    ViewData["Title"] = "Index";
}

<!-- partial -->
@*<div class="main-panel">*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Vəzifələr</h4>
                <div style="text-align:end">
                    <a asp-action="Create" class="btn btn-primary text-white btn-rounded" style="width:80px;height:30px;display:inline-flex;justify-content:center;align-items:center;margin-right:100px">+Create</a>
                </div>
                <div class="table-responsive" style="margin-top:20px">
                    <table class="table myTable" id="positionTable">
                        <thead>
                            <tr>
                                <th class="text-center">Ad</th>
                                <th class="text-center">Maaş</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Əməliyyatlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Position position in Model)
                            {
                                <tr>
                                    <td>@position.Name</td>
                                    <td>@position.Salary</td>
                                    <td>
                                        <span class="@(position.IsDeactive? "text-danger" : "text-success")">@(position.IsDeactive ? "Deactive" : "Active")</span>
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="Update" asp-route-id="@position.Id" class="badge badge-warning">Update</a>
                                        <a asp-action="Activity" asp-route-id="@position.Id" class="badge @(position.IsDeactive ? "badge-success" : "badge-danger")">@(position.IsDeactive ? "Activade" : "Deactivade")</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@
<!-- content-wrapper ends -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#positionTable thead tr').clone(true).addClass('filters').appendTo('#positionTable thead');
            $('#positionTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                rowReorder: {
                    dataSrc: 'question_order',
                    selector: 'tr'
                },
                responsive: true,
                columnDefs: [
                    { orderable: true, className: 'reorder', targets: '_all' },
                    { orderable: false, targets: '_all' }
                ],
                scrollY: '200px',
                colReorder: true,


                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();
                    // For each column
                    api.columns().eq(0).each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
                        // On every keypress in this input
                        $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                                    .draw();
                                $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
                }
            });
        });

    </script>
}
