@{
    Ammount incomesAmmount = ViewBag.LatestIncomes;
    Ammount expensesAmmount = ViewBag.LatestExpenses;
}
@*-------------------------------------TotalAmmount-Start--------------------------------------*@
<div class="col-md-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ümumi Məbləğimiz</h4>
            <canvas id="total-ammount" class="transaction-chart"></canvas>
            @if (incomesAmmount != null)
            {
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Ən son gəlir</h6>
                        <p class="text-muted mb-0">@incomesAmmount.CreateTime.ToString("dd-MM-yyyy HH:mm:ss")</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">$@incomesAmmount.Price</h6>
                    </div>
                </div>
            }
            @if (expensesAmmount != null)
            {
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Ən son xərc</h6>
                        <p class="text-muted mb-0">@expensesAmmount.CreateTime.ToString("dd-MM-yyyy HH:mm:ss")</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">$@expensesAmmount.Price</h6>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*-------------------------------------TotalAmmount-End--------------------------------------*@


<div class="row">
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Ümumi məbləğ son bir ayın</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">$@ViewBag.OneMonthAmmount</h2>
                            @*<p class="text-success ml-2 mb-0 font-weight-medium">+3.5%</p>*@
                        </div>
                        <h6 class="text-muted font-weight-normal">$@ViewBag.TwoMonthAmmount Son 2 ayın</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Ümumi gəlir son bir ayın</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">$@ViewBag.OneMonthIncomesAmmount</h2>
                            <p class="text-success ml-2 mb-0 font-weight-medium">+@(String.Format("{0:0.00}", (ViewBag.OneMonthIncomesAmmount / ViewBag.OneMonthAmmount)))%</p>
                        </div>
                        <h6 class="text-muted font-weight-normal"> @(String.Format("{0:0.00}", (ViewBag.TwoMonthIncomesAmmount / ViewBag.TwoMonthAmmount)))% Son 2 ayın</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 grid-margin">
        <div class="card">
            <div class="card-body">
                <h5>Ümumi xərc son bir ayın</h5>
                <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                            <h2 class="mb-0">$@ViewBag.OneMonthExpensesAmmount</h2>
                            <p class="text-danger ml-2 mb-0 font-weight-medium">-@(String.Format("{0:0.00}", (ViewBag.OneMonthExpensesAmmount / ViewBag.OneMonthAmmount)))% </p>
                        </div>
                        <h6 class="text-muted font-weight-normal">@(String.Format("{0:0.00}", (ViewBag.TwoMonthExpensesAmmount / ViewBag.TwoMonthAmmount)))% Son 2 ayın</h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let totalAmmount = @ViewBag.Ammount;
        let totalExpensesAmmount = @ViewBag.ExpensesAmmount;
        let totalIncomesAmmount = @ViewBag.IncomesAmmount;

        console.log(totalAmmount)
        console.log(totalExpensesAmmount)
        console.log(totalIncomesAmmount)

        let commonPercentageExpenses = Math.round((totalExpensesAmmount * 100) / (totalExpensesAmmount + totalIncomesAmmount))
        if (isNaN(commonPercentageExpenses)) {
            commonPercentageExpenses = 0
        }
        let commonPercentageIncomes = Math.round((totalIncomesAmmount * 100) / (totalExpensesAmmount + totalIncomesAmmount));
        if (isNaN(commonPercentageIncomes)) {
            commonPercentageIncomes = 1
        }

        console.log(commonPercentageExpenses)
        console.log(commonPercentageIncomes)

        if ($("#total-ammount").length) {
            var areaData = {
                labels: ["Xərc", "Gəlir"],
                datasets: [{
                    data: [commonPercentageExpenses, commonPercentageIncomes],
                    backgroundColor: [
                        "#fc424a", "#00d25b"
                    ]
                }
                ]
            };
            var areaOptions = {
                responsive: true,
                maintainAspectRatio: true,
                segmentShowStroke: false,
                cutoutPercentage: 70,
                elements: {
                    arc: {
                        borderWidth: 0
                    }
                },
                legend: {
                    display: false
                },
                tooltips: {
                    enabled: true
                }
            }
            var transactionhistoryChartPlugins = {
                beforeDraw: function (chart) {
                    var width = chart.chart.width,
                        height = chart.chart.height,
                        ctx = chart.chart.ctx;

                    ctx.restore();
                    var fontSize = 1;
                    ctx.font = fontSize + "rem sans-serif";
                    ctx.textAlign = 'left';
                    ctx.textBaseline = "middle";
                    ctx.fillStyle = "#ffffff";

                    var text = totalAmmount != 0 ? `$${totalAmmount}` : `$0`,
                        textX = Math.round((width - ctx.measureText(text).width) / 2),
                        textY = height / 2.4;

                    ctx.fillText(text, textX, textY);

                    ctx.restore();
                    var fontSize = 0.75;
                    ctx.font = fontSize + "rem sans-serif";
                    ctx.textAlign = 'left';
                    ctx.textBaseline = "middle";
                    ctx.fillStyle = "#6c7293";

                    //var texts = "Total",
                    //    textsX = Math.round((width - ctx.measureText(text).width) / 1.93),
                    //    textsY = height / 1.7;

                    //ctx.fillText(texts, textsX, textsY);
                    ctx.save();
                }
            }
            var transactionhistoryChartCanvas = $("#total-ammount").get(0).getContext("2d");
            var transactionhistoryChart = new Chart(transactionhistoryChartCanvas, {
                type: 'doughnut',
                data: areaData,
                options: areaOptions,
                plugins: transactionhistoryChartPlugins
            });
        }
    </script>
}