@model List<Ammount>
@{
    ViewData["Title"] = "Index";
}

<!-- partial -->
@*<div class="main-panel">*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Xərclər</h4>
                <div style="text-align:end">
                    <a asp-action="Create" class="btn btn-primary text-white btn-rounded" style="width:80px;height:30px;display:inline-flex;justify-content:center;align-items:center;margin-right:100px">+Create</a>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Xərcin Dəyəri</th>
                                <th>Xərc Haqqında</th>
                                <th>Xərcin yaranma vaxtı</th>
                                <th>Qeyd edən şəxs</th>
                                <th>Əməliyyatlar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Ammount ammount in Model)
                            {
                                <tr>
                                    <td>@ammount.Price</td>
                                    <td>@ammount.Description</td>
                                    <td>@ammount.CreateTime.ToString("dd-MM-yyyy HH:mm:ss")</td>
                                    <td>@ammount.CreatedBy</td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@ammount.Id" class="badge badge-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*</div>*@
<!-- content-wrapper ends -->