@model List<Product>

<!-- partial -->
@*<div class="main-panel">*@
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.CategoriesCount == 0)
                {
                    <h4 class="card-title text-danger">Kateqoriya Yarat!</h4>
                    <div class="card">
                        <a asp-controller="Category" asp-action="Create" class="btn btn-primary btn-fw">Kateqoriya Yarat</a>
                    </div>
                }
                else
                {
                    <h4 class="card-title">Məhsullar</h4>
                    <div style="text-align:end">
                        <a asp-action="Create" class="btn btn-primary text-white btn-rounded" style="width:80px;height:30px;display:inline-flex;justify-content:center;align-items:center;margin-right:100px" title="Create">
                            <i class="mdi mdi-plus"></i>
                        </a>
                    </div>
                    <div class="table-responsive">
                        <table class="table" id="positionTable">
                            <thead>
                                <tr>
                                    <th class="text-center">Şəkil</th>
                                    <th class="text-center">Ad</th>
                                    <th class="text-center">Stokda Mövcuddur</th>
                                    <th class="text-center">Qiyməti</th>
                                    <th class="text-center">Kateqoriyalar</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Əməliyyatlar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Product product in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <img style="width:100px;height:100px;object-fit:cover" src="~/assets/images/product/@product.ProductImages.FirstOrDefault().Image" />
                                        </td>
                                        <td class="text-center">@product.Name</td>
                                        <td class="text-center">
                                            @if (product.ProductDetails.HasStock)
                                            {
                                                <input type="checkbox" class="form-control" checked disabled />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-control" disabled />
                                            }
                                        </td>
                                        <td class="text-center">@product.Price</td>
                                        <td>
                                            @foreach (ProductCategory productCategory in product.ProductCategories)
                                            {
                                                <div>@productCategory.Category.Name</div>
                                            }
                                        </td>
                                        <td class="text-center">
                                            <span class="@(product.IsDeactive? "text-danger" : "text-success")">@(product.IsDeactive ? "Deactive" : "Active")</span>
                                        </td>
                                        <td class="text-center">
                                            <a asp-action="Update" asp-route-id="@product.Id" class="badge badge-warning">Update</a>
                                            <a asp-action="Activity" asp-route-id="@product.Id" class="badge @(product.IsDeactive ? "badge-success" : "badge-danger")">@(product.IsDeactive ? "Activade" : "Deactivade")</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@*</div>*@
<!-- content-wrapper ends -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#positionTable thead tr').clone(true).addClass('filters').appendTo('#positionTable thead');
            $('#positionTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                rowReorder: {
                    dataSrc: 'question_order',
                    selector: 'tr'
                },
                responsive: true,
                columnDefs: [
                    { orderable: true, className: 'reorder', targets: '_all' },
                    { orderable: false, targets: '_all' }
                ],
                scrollY: '200px',
                colReorder: true,


                orderCellsTop: true,
                fixedHeader: true,
                initComplete: function () {
                    var api = this.api();
                    // For each column
                    api.columns().eq(0).each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq($(api.column(colIdx).header()).index());
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');
                        // On every keypress in this input
                        $('input', $('.filters th').eq($(api.column(colIdx).header()).index()))
                            .off('keyup change')
                            .on('keyup change', function (e) {
                                e.stopPropagation();
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();
                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search((this.value != "") ? regexr.replace('{search}', '(((' + this.value + ')))') : "", this.value != "", this.value == "")
                                    .draw();
                                $(this).focus()[0].setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
                }
            });
        });

    </script>
}