@model Product
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Məhsula düzəliş et</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex flex-wrap">
                    @if (Model.ProductImages.Count! > 1)
                    {
                        @foreach (ProductImage productImage in Model.ProductImages)
                        {
                            <div class="d-flex flex-column" style="margin:5px" id="image_@productImage.Id">
                                <img style="width:100px;height:100px;object-fit:cover;margin-bottom:5px;" src="~/assets/images/product/@productImage.Image" />
                                <a title="Mehsulu sil" class="badge badge-danger myBtn" id="myButton_@productImage.Id" onclick="myFunction(@productImage.Id)">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (ProductImage productImage in Model.ProductImages)
                        {
                            <div class="d-flex flex-column" style="margin:5px" id="image_@productImage.Id">
                                <img style="width:100px;height:100px;object-fit:cover;margin-bottom:5px;" src="~/assets/images/product/@productImage.Image" />
                            </div>
                        }
                    }
                </div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group" id="PhotoBox">
                        <label asp-for="Photos">Şəkilləri</label>
                        <input accept="image/*" asp-for="Photos" class="form-control" placeholder="Image">
                        <span asp-validation-for="Photos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Adı</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Qiyməti</label>
                        <input asp-for="Price" type="text" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rate">5 üzərindən yaxşılıq dərəcəsi</label>
                        <input asp-for="Rate" type="text" class="form-control">
                        <span asp-validation-for="Rate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDetails.HasStock" id="hasstockLabel">Stokda Mövcuddur</label>
                        <input asp-for="ProductDetails.HasStock" class="form-check-input">
                        <span asp-validation-for="ProductDetails.HasStock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDetails.Brand"></label>
                        <input asp-for="ProductDetails.Brand" class="form-control">
                        <span asp-validation-for="ProductDetails.Brand" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDetails.Tax">Vergi</label>
                        <input asp-for="ProductDetails.Tax" type="number" class="form-control">
                        <span asp-validation-for="ProductDetails.Tax" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="ProductDetails.CreateTime"></label>
                        <input asp-for="ProductDetails.CreateTime" class="form-control">
                        <span asp-validation-for="ProductDetails.CreateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductDetails.Description">Təsviri</label>
                        <input asp-for="ProductDetails.Description" class="form-control">
                        <span asp-validation-for="ProductDetails.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="CatBox">
                        <label>Əsas kateqoriya seçin</label>
                        <select name="mainId" id="mainCat" class="form-control">
                            @foreach (Category category in ViewBag.MainCategories)
                            {
                                if (Model.ProductCategories.Any(x => x.CategoryId == category.Id))
                                {
                                    <option selected value="@category.Id">@category.Name</option>
                                }
                                else
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </select>
                    </div>
                    @if (ViewBag.ChildCategory != null)
                    {
                        <div class="form-group" id="CatBox">
                            <label>Alt kateqoriya seçin</label>
                            <select name="childCatId" id="childCat" class="form-control">
                                @foreach (Category category in ViewBag.ChildCategory)
                                {
                                    if (Model.ProductCategories.Any(x => x.CategoryId == category.Id))
                                    {
                                        <option selected value="@category.Id">@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $("#ProductDetails_HasStock").css("height", "20px")
        $("#ProductDetails_HasStock").css("width", "50px")
        $("#ProductDetails_HasStock").css("position", "relative")
        $("#hasstockLabel").css("display", "block")
        $(document).on("change", "#mainCat", function () {
            $.ajax({
                url: "/Product/LoadChild/",
                type: "get",
                data: {
                    "mainId": $("#mainCat").val()
                },
                success: function (response) {
                    $("#childCat").empty()
                    $("#childCat").append(response)
                }
            })
        });
        function myFunction(id) {
            var image = document.getElementById("image_" + id);
            var button = document.getElementById("myButton_" + id);
            $.ajax({
                url: "@Url.Action("DeleteImage", "Product")",
                type: "get",
                data: {
                    "id": id
                },
                success: function (res) {
                    console.log(res);
                    if (res) {
                        image.remove();
                        if ($(".myBtn").length == 1) {
                            $(".myBtn").remove();
                        }
                    }
                    else {
                        button.remove();
                    }
                }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}